@charset "UTF-8";
/* geral */
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(0, 165, 124);
}

/* seção  */
section{

    background-color: aliceblue;
    width: 50%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border-radius: 15px;
    padding: 0% 0% 5% 0%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}
h1 {
    font-family: sans-serif;
    font-size: xx-large;
    text-align: center;
    margin-top: 3%;
    color: whitesmoke;
}

h2 {
    font-family: sans-serif;
    font-size: x-large;
    text-align: center;
    margin: 2%;
    color: whitesmoke;
}

p{
    font-family: sans-serif;
    font-size: large;
}
/*#idSelect{margin: 0% 0% 0% 5%;width: max-content ;padding: 1%;}
    
    /* label */
    label{
        font-family: sans-serif;
        font-size: large;
        padding: 0% 0% 0% 0%;

    }

    /* input */
    input{width: 15%;margin-bottom: 1%;}
    
    /* botao*/
    input#idBotao{
        padding: 1%;
        width:fit-content;
        margin-left: 0%;
        margin-right: 4%;
    }
    input#idBotao2{
        padding: 1%;
        width:fit-content;
        margin-top: 1%;
        margin-left: 0%;
        margin-right: 4%;
    }

div{padding: 2% 2% 0% 3%;}

p#idTxtResp{margin-left: 5%;margin-right: 10%;}

/* rodape */
footer{
    text-align: center;
    padding: 1%;
    color: whitesmoke;
    
    width: 25%;
    margin-left: auto;
    margin-right:auto ;
    margin-top: 1%;
    border-radius: 15px;
}